@mixin bordertop-socialmedia($color){
  border-top-color: $color;
}
@mixin bordertop-gradient($init, $end){
  border-color: transparent;
  background: 
      linear-gradient(var(--card-bg), var(--card-bg)), 
      linear-gradient(to right, var(--card-bg) 0, $init 10%,  $end 97%, var(--card-bg)); 
  background-clip: padding-box, border-box;

}






