$dtToggleDarkColor: linear-gradient(hsl(210, 78%, 56%) to hsl(146, 68%, 55%));
$dtVeryDarkBlueBg: hsl(230, 17%, 14%);
$dtVeryDarkBlueTopBg: hsl(232, 19%, 15%);
$dtDarkDesaturatedBlueCardBg: hsl(228, 28%, 20%);
$dtDesaturatedBlueText: sl(228, 34%, 66%);
$dtWhiteText: hsl(0, 0%, 100%);






