$ltWhiteBg: hsl(0, 0%, 100%);
$ltVeryPaleBlueTopBg: hsl(225, 100%, 98%) ;
$ltLightGrayishBlueCardBg: hsl(227, 47%, 96%);
$ltLightGrayishBlueText:  hsl(228, 12%, 44%);
$ltVeryDarkBlueText:  hsl(230, 17%, 14%);