:root{
  --header-bg: hsl(232, 19%, 15%);
  --main-bg: hsl(230, 17%, 14%);
  --card-bg: hsl(228, 28%, 20%);
  --card-bg-hover: #333a56;
  --text-color-primary: hsl(0, 0%, 100%);
  --text-color-secondary: hsl(228, 34%, 66%);
  --smallbreakpoint-line-color: #5a5e97;
}